.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item img {
  padding: 3px;
  width: 38px;
  height: 38px;
  border: 2px solid #ffbb00;
  border-radius: 50px;
}
.cart-item p {
  text-transform: uppercase;
  font-size: 16px;
}
.remove-item {
  cursor: pointer;
}
