.container {
  margin: 50px 50px 0;
}
.question-block {
  text-align: left;
  margin-bottom: 30px;
}
.question-block h2 {
  margin: 10px 0;
  color: #ffbb00;
  font-size: 26px;
  font-weight: 800;
}
.question-block p {
  font-size: 17px;
  margin: 10px 0;
}
/* tablet device responsive */
@media only screen and (max-width: 1050px) {
  .container {
    margin: 40px 30px 0;
  }
}
